<%= form_with(model: testcategory, local: true) do |form| %>
  <% if testcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testcategory.errors.count, "error") %> prohibited this testcategory from being saved:</h2>

      <ul>
      <% testcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :testcategoryname %>
    <%= form.text_field :testcategoryname, id: :testcategory_testcategoryname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
